[submodule "external/Sharpmake"]
	path = External/Sharpmake
	url = https://github.com/ubisoftinc/Sharpmake
	ignore = dirty

[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "External/mathfu"]
	path = External/mathfu
	url = https://github.com/google/mathfu
