Microsoft.VisualStudio.Setup.Configuration.Interop.dll
Sharpmake.Application.exe
Sharpmake.Application.exe.config
Sharpmake.CommonPlatforms.dll
Sharpmake.dll
Sharpmake.Durango.dll
Sharpmake.Generators.dll
Sharpmake.NvShield.dll
Sharpmake.X360.dll
